# **Azure notebook Setup**

In [1]:
#A class attribute that provides access to the TabularDatasetFactory methods for creating new TabularDataset objects. 
#Usage: Dataset.Tabular.from_delimited_files().
from azureml.core import Workspace, Dataset

subscription_id = 'bcfe0c62-8ebe-4df0-a46d-1efcf8739a5b' #check the launch studio there will get this id
resource_group = 'VChamp-Team3' # resource group name
workspace_name = 'vchamp-team3' # worksapce name


# storage account : Algorithmia, Resource group: VChamp-Team3 and workspace: vchamp-team3.
#Constructor
workspace = Workspace(subscription_id, resource_group, workspace_name)

In [2]:
#['data_team3_synthetic_train']
datastore = workspace.datastores['data_team3_synthetic_train']

In [3]:
#from_delimited_files (Create a TabularDataset to represent tabular data in delimited files (e.g. CSV and TSV).

dataset = Dataset.Tabular.from_delimited_files(path = [(datastore, 'procedures_train.csv')])

# preview the first 3 rows of the dataset
# dataset.to_pandas_dataframe()

In [88]:
#Converting the dataset into data frame(default as dataset in Azure, thus we must convert the needed formate)
procedures_train_data = dataset.to_pandas_dataframe()

In [89]:
procedures_train_data

,Column1,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,0,1,57.573116,2001-10-30 23:22:22,90658,"INFLUENZA VIRUS VACCINE, TRIVALENT (IIV3), SPL...",Indiana
1,1,1,57.573116,2001-10-30 23:22:22,90471,IMMUNIZATION ADMINISTRATION (INCLUDES PERCUTAN...,Indiana
2,2,1,57.573116,2001-10-30 23:22:22,99212,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Indiana
3,3,1,57.912086,2002-03-03 20:49:01,84460,TRANSFERASE; ALANINE AMINO (ALT) (SGPT),Indiana
4,4,1,57.912086,2002-03-03 20:49:01,84450,TRANSFERASE; ASPARTATE AMINO (AST) (SGOT),Indiana
...,...,...,...,...,...,...,...
103020499,130980534,99999,95.894208,2012-10-22 07:59:26,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
103020500,130980535,99999,96.029365,2012-12-10 17:35:21,99215,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Arizona
103020501,130980536,99999,96.029365,2012-12-10 17:35:21,90935,HEMODIALYSIS PROCEDURE WITH SINGLE EVALUATION ...,Arizona
103020502,130980537,99999,96.324691,2013-03-28 16:11:17,99215,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Arizona
103020503,130980538,99999,96.324691,2013-03-28 16:11:17,90937,HEMODIALYSIS PROCEDURE REQUIRING REPEATED EVAL...,Arizona

# Importing the necessary library

In [6]:
import numpy as np                # Multi-Dimensional array object
import pandas as pd               # Data Manipulation
import matplotlib.pyplot as plt   # Data Visualization
import seaborn as sns             # Data Visualization 

# Allows the use of display() for DataFrames
from IPython.display import display 

# Handle warning messages that may occur during code execution
import warnings
warnings.filterwarnings('ignore')

# To increase memory allocation
from notebook.services.config import ConfigManager
cm = ConfigManager().update('notebook', {'max_buffer_size': 7294967296})


# Set the maximum number of rows to be displayed to 1000
pd.set_option('display.max_rows', 1163)

# Elimination of the unnamed columns

In [90]:
# Remove unwanted columns 
procedures_train_data.drop('Column1',axis=1,inplace=True)

In [91]:
df_procedures = procedures_train_data

In [92]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,1,57.573116,2001-10-30 23:22:22,90658,"INFLUENZA VIRUS VACCINE, TRIVALENT (IIV3), SPL...",Indiana
1,1,57.573116,2001-10-30 23:22:22,90471,IMMUNIZATION ADMINISTRATION (INCLUDES PERCUTAN...,Indiana
2,1,57.573116,2001-10-30 23:22:22,99212,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Indiana
3,1,57.912086,2002-03-03 20:49:01,84460,TRANSFERASE; ALANINE AMINO (ALT) (SGPT),Indiana
4,1,57.912086,2002-03-03 20:49:01,84450,TRANSFERASE; ASPARTATE AMINO (AST) (SGOT),Indiana
...,...,...,...,...,...,...
103020499,99999,95.894208,2012-10-22 07:59:26,98968,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
103020500,99999,96.029365,2012-12-10 17:35:21,99215,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Arizona
103020501,99999,96.029365,2012-12-10 17:35:21,90935,HEMODIALYSIS PROCEDURE WITH SINGLE EVALUATION ...,Arizona
103020502,99999,96.324691,2013-03-28 16:11:17,99215,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Arizona
103020503,99999,96.324691,2013-03-28 16:11:17,90937,HEMODIALYSIS PROCEDURE REQUIRING REPEATED EVAL...,Arizona

# sorting out patients id and age column

In [93]:
# Sort the dataset based on the patientsid and 'age' column in ascending order
df_procedures.sort_values(["Internalpatientid","Age at procedure"],inplace=True)

In [94]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,1,57.573116,2001-10-30 23:22:22,90658,"INFLUENZA VIRUS VACCINE, TRIVALENT (IIV3), SPL...",Indiana
1,1,57.573116,2001-10-30 23:22:22,90471,IMMUNIZATION ADMINISTRATION (INCLUDES PERCUTAN...,Indiana
2,1,57.573116,2001-10-30 23:22:22,99212,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Indiana
27537,1,57.840497,2002-02-05 16:50:30,82270,"BLOOD, OCCULT, BY PEROXIDASE ACTIVITY (EG, GUA...",Indiana
3,1,57.912086,2002-03-03 20:49:01,84460,TRANSFERASE; ALANINE AMINO (ALT) (SGPT),Indiana
...,...,...,...,...,...,...
42212177,169064,87.867074,2014-10-31 09:58:19,82040,"ALBUMIN; SERUM, PLASMA OR WHOLE BLOOD",Wyoming
42212178,169064,87.867074,2014-10-31 09:58:19,84999,UNLISTED CHEMISTRY PROCEDURE,Wyoming
42169781,169064,87.867200,2014-10-31 11:04:34,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming
41871250,169064,87.877824,2014-11-04 08:16:12,99213,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming
42112107,169064,87.920425,2014-11-19 21:58:14,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming

# Checking the missing value

In [95]:
print("Training set missing values:\n", df_procedures.isna().sum())

Training set missing values:
 Internalpatientid             0
Age at procedure              0
Procedure date                0
Procedure code                4
Procedure code description    0
State                         0
dtype: int64

* * **The "Procedure code" column has 4 missing values.**

* **Note:Here potiential attributes is "Procedure code description" ahs no missing value**

# Taking digit in age coulmn

In [96]:
# Format 'Age at measurement' values in the format 00.0
df_procedures["Age at procedure"] = df_procedures["Age at procedure"].map("{:.2f}".format)

In [97]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,1,57.57,2001-10-30 23:22:22,90658,"INFLUENZA VIRUS VACCINE, TRIVALENT (IIV3), SPL...",Indiana
1,1,57.57,2001-10-30 23:22:22,90471,IMMUNIZATION ADMINISTRATION (INCLUDES PERCUTAN...,Indiana
2,1,57.57,2001-10-30 23:22:22,99212,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Indiana
27537,1,57.84,2002-02-05 16:50:30,82270,"BLOOD, OCCULT, BY PEROXIDASE ACTIVITY (EG, GUA...",Indiana
3,1,57.91,2002-03-03 20:49:01,84460,TRANSFERASE; ALANINE AMINO (ALT) (SGPT),Indiana
...,...,...,...,...,...,...
42212177,169064,87.87,2014-10-31 09:58:19,82040,"ALBUMIN; SERUM, PLASMA OR WHOLE BLOOD",Wyoming
42212178,169064,87.87,2014-10-31 09:58:19,84999,UNLISTED CHEMISTRY PROCEDURE,Wyoming
42169781,169064,87.87,2014-10-31 11:04:34,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming
41871250,169064,87.88,2014-11-04 08:16:12,99213,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming
42112107,169064,87.92,2014-11-19 21:58:14,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming

In [98]:
# Convert 'Age at measurement' column from object to float
df_procedures ["Age at procedure"] = df_procedures ["Age at procedure"].astype(float)

In [99]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,1,57.57,2001-10-30 23:22:22,90658,"INFLUENZA VIRUS VACCINE, TRIVALENT (IIV3), SPL...",Indiana
1,1,57.57,2001-10-30 23:22:22,90471,IMMUNIZATION ADMINISTRATION (INCLUDES PERCUTAN...,Indiana
2,1,57.57,2001-10-30 23:22:22,99212,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Indiana
27537,1,57.84,2002-02-05 16:50:30,82270,"BLOOD, OCCULT, BY PEROXIDASE ACTIVITY (EG, GUA...",Indiana
3,1,57.91,2002-03-03 20:49:01,84460,TRANSFERASE; ALANINE AMINO (ALT) (SGPT),Indiana
...,...,...,...,...,...,...
42212177,169064,87.87,2014-10-31 09:58:19,82040,"ALBUMIN; SERUM, PLASMA OR WHOLE BLOOD",Wyoming
42212178,169064,87.87,2014-10-31 09:58:19,84999,UNLISTED CHEMISTRY PROCEDURE,Wyoming
42169781,169064,87.87,2014-10-31 11:04:34,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming
41871250,169064,87.88,2014-11-04 08:16:12,99213,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming
42112107,169064,87.92,2014-11-19 21:58:14,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming

# Max age

In [100]:
# Find the maximum age for each internal patient id
max_ages = df_procedures.groupby('Internalpatientid')['Age at procedure'].max().reset_index()

# Merge with the original dataframe to get the rows with the highest age
df_procedures = pd.merge(df_procedures, max_ages, on =['Internalpatientid','Age at procedure'], how = 'inner')

df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,1,80.21,2024-06-25 01:47:09,85610,PROTHROMBIN TIME;,Indiana
1,1,80.21,2024-06-25 01:47:09,82105,ALPHA-FETOPROTEIN (AFP); SERUM,Indiana
2,1,80.21,2024-06-25 01:47:09,85027,"BLOOD COUNT; COMPLETE (CBC), AUTOMATED (HGB, H...",Indiana
3,1,80.21,2024-06-25 01:47:09,80053,COMPREHENSIVE METABOLIC PANELTHIS PANEL MUST I...,Indiana
4,1,80.21,2024-06-25 02:44:48,99214,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Indiana
...,...,...,...,...,...,...
496193,169060,71.78,2017-09-25 05:57:56,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
496194,169061,81.38,2023-07-14 17:43:43,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Georgia
496195,169062,74.12,2005-09-21 17:07:48,92.14,BONE SCAN,Florida
496196,169063,78.49,2006-02-04 23:24:49,99371,TELEPHONE CALL BY A PHYSICIAN TO PATIENT OR FO...,New York
496197,169064,87.92,2014-11-19 21:58:14,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming

# Rounding off the Age

In [101]:
df_procedures ['Age at procedure'] = df_procedures['Age at procedure'].apply(lambda x: round(x,))

In [56]:
df_procedures["Internalpatientid"].nunique()

133246

In [102]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,1,80,2024-06-25 01:47:09,85610,PROTHROMBIN TIME;,Indiana
1,1,80,2024-06-25 01:47:09,82105,ALPHA-FETOPROTEIN (AFP); SERUM,Indiana
2,1,80,2024-06-25 01:47:09,85027,"BLOOD COUNT; COMPLETE (CBC), AUTOMATED (HGB, H...",Indiana
3,1,80,2024-06-25 01:47:09,80053,COMPREHENSIVE METABOLIC PANELTHIS PANEL MUST I...,Indiana
4,1,80,2024-06-25 02:44:48,99214,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Indiana
...,...,...,...,...,...,...
496193,169060,72,2017-09-25 05:57:56,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
496194,169061,81,2023-07-14 17:43:43,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Georgia
496195,169062,74,2005-09-21 17:07:48,92.14,BONE SCAN,Florida
496196,169063,78,2006-02-04 23:24:49,99371,TELEPHONE CALL BY A PHYSICIAN TO PATIENT OR FO...,New York
496197,169064,88,2014-11-19 21:58:14,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming

In [106]:
# value counts
df3 = df_procedures["Internalpatientid"].value_counts().loc[lambda x: x>30].to_frame()

In [108]:
df3 = df3.reset_index()

In [110]:
df3.columns = ["Internalpatientid","count_procedures"]

In [112]:
df3.drop(["count_procedures"],axis=1,inplace =True)

In [113]:
df3

      Internalpatientid
0                 41673
1                149860
2                143173
3                151859
4                 22367
...                 ...
1362             132665
1363              61346
1364               1820
1365              55708
1366             120843

[1367 rows x 1 columns]

In [114]:
# Merge the two dataframes based on 'Internalpatientid'
merged_df = df_procedures.merge(df3, on='Internalpatientid', how='left')

# Filter rows from DataFrame 1 that have matching values in DataFrame 2
filtered_df = merged_df[~merged_df['Internalpatientid'].isin(df3['Internalpatientid'])]

# Print only the columns of DataFrame 1
filtered_df

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,1,80,2024-06-25 01:47:09,85610,PROTHROMBIN TIME;,Indiana
1,1,80,2024-06-25 01:47:09,82105,ALPHA-FETOPROTEIN (AFP); SERUM,Indiana
2,1,80,2024-06-25 01:47:09,85027,"BLOOD COUNT; COMPLETE (CBC), AUTOMATED (HGB, H...",Indiana
3,1,80,2024-06-25 01:47:09,80053,COMPREHENSIVE METABOLIC PANELTHIS PANEL MUST I...,Indiana
4,1,80,2024-06-25 02:44:48,99214,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Indiana
...,...,...,...,...,...,...
496193,169060,72,2017-09-25 05:57:56,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
496194,169061,81,2023-07-14 17:43:43,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Georgia
496195,169062,74,2005-09-21 17:07:48,92.14,BONE SCAN,Florida
496196,169063,78,2006-02-04 23:24:49,99371,TELEPHONE CALL BY A PHYSICIAN TO PATIENT OR FO...,New York
496197,169064,88,2014-11-19 21:58:14,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming

In [115]:
filtered_df.Internalpatientid.nunique()

131879

In [116]:
df_procedures = filtered_df

In [117]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,1,80,2024-06-25 01:47:09,85610,PROTHROMBIN TIME;,Indiana
1,1,80,2024-06-25 01:47:09,82105,ALPHA-FETOPROTEIN (AFP); SERUM,Indiana
2,1,80,2024-06-25 01:47:09,85027,"BLOOD COUNT; COMPLETE (CBC), AUTOMATED (HGB, H...",Indiana
3,1,80,2024-06-25 01:47:09,80053,COMPREHENSIVE METABOLIC PANELTHIS PANEL MUST I...,Indiana
4,1,80,2024-06-25 02:44:48,99214,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Indiana
...,...,...,...,...,...,...
496193,169060,72,2017-09-25 05:57:56,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California
496194,169061,81,2023-07-14 17:43:43,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Georgia
496195,169062,74,2005-09-21 17:07:48,92.14,BONE SCAN,Florida
496196,169063,78,2006-02-04 23:24:49,99371,TELEPHONE CALL BY A PHYSICIAN TO PATIENT OR FO...,New York
496197,169064,88,2014-11-19 21:58:14,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming

# Adding  'Age at procedure' & 'Procedure code description' columns with '_'

In [118]:
#In this code, we create a new column called 'Lab test description_Result numeric' by concatenating the values of the 'lab test description' column, underscore ('_'), and the 'lab test results' column
#converted to a string using the `astype(str)` function(because we cant't add differnt dtype)
df_procedures['procedures_code_description'] = df_procedures['Age at procedure'].astype(str) + '_' +  df_procedures['Procedure code description']

In [119]:
df_procedures

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State,procedures_code_description
0,1,80,2024-06-25 01:47:09,85610,PROTHROMBIN TIME;,Indiana,80_PROTHROMBIN TIME;
1,1,80,2024-06-25 01:47:09,82105,ALPHA-FETOPROTEIN (AFP); SERUM,Indiana,80_ALPHA-FETOPROTEIN (AFP); SERUM
2,1,80,2024-06-25 01:47:09,85027,"BLOOD COUNT; COMPLETE (CBC), AUTOMATED (HGB, H...",Indiana,"80_BLOOD COUNT; COMPLETE (CBC), AUTOMATED (HGB..."
3,1,80,2024-06-25 01:47:09,80053,COMPREHENSIVE METABOLIC PANELTHIS PANEL MUST I...,Indiana,80_COMPREHENSIVE METABOLIC PANELTHIS PANEL MUS...
4,1,80,2024-06-25 02:44:48,99214,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Indiana,80_OFFICE OR OTHER OUTPATIENT VISIT FOR THE EV...
...,...,...,...,...,...,...,...
496193,169060,72,2017-09-25 05:57:56,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,California,72_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE...
496194,169061,81,2023-07-14 17:43:43,98966,TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PR...,Georgia,81_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE...
496195,169062,74,2005-09-21 17:07:48,92.14,BONE SCAN,Florida,74_BONE SCAN
496196,169063,78,2006-02-04 23:24:49,99371,TELEPHONE CALL BY A PHYSICIAN TO PATIENT OR FO...,New York,78_TELEPHONE CALL BY A PHYSICIAN TO PATIENT OR...
496197,169064,88,2014-11-19 21:58:14,99211,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Wyoming,88_OFFICE OR OTHER OUTPATIENT VISIT FOR THE EV...

# Dropping all unnecessary columns

In [123]:
# Remove columns 
df_procedures.drop(["Age at procedure","Procedure date","Procedure code",
                         "Procedure code description","State"], axis=1,inplace=True)

In [124]:
df_procedures = df_procedures

In [125]:
df_procedures

        Internalpatientid                        procedures_code_description
0                       1                               80_PROTHROMBIN TIME;
1                       1                  80_ALPHA-FETOPROTEIN (AFP); SERUM
2                       1  80_BLOOD COUNT; COMPLETE (CBC), AUTOMATED (HGB...
3                       1  80_COMPREHENSIVE METABOLIC PANELTHIS PANEL MUS...
4                       1  80_OFFICE OR OTHER OUTPATIENT VISIT FOR THE EV...
...                   ...                                                ...
496193             169060  72_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE...
496194             169061  81_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE...
496195             169062                                       74_BONE SCAN
496196             169063  78_TELEPHONE CALL BY A PHYSICIAN TO PATIENT OR...
496197             169064  88_OFFICE OR OTHER OUTPATIENT VISIT FOR THE EV...

[437133 rows x 2 columns]

In [126]:
# Group the DataFrame by 'Internalpatientid' and concatenate the icd10 values and
#The purpose of `x.dropna()` is to remove any missing values from the Series before applying a subsequent operation,
# such as concatenation using the `join` function. By dropping the missing values,
#we ensure that only non-null values are included in the resulting concatenated string.
df_grouped = df_procedures.groupby('Internalpatientid').agg(lambda x: ','.join(x.dropna()))
df_grouped 

# Reset the index of the grouped DataFrame
df_grouped_procedures = df_grouped.reset_index()
df_grouped_procedures

        Internalpatientid                        procedures_code_description
0                       1  80_PROTHROMBIN TIME;,80_ALPHA-FETOPROTEIN (AFP...
1                       2  70_NONINVASIVE EAR OR PULSE OXIMETRY FOR OXYGE...
2                       3  82_ADDITION TO UPPER EXTREMITY PROSTHESIS, GLO...
3                       4  84_UNLISTED SPECIAL SERVICE, PROCEDURE OR REPO...
4                       5  77_ANALYSIS OF CLINICAL DATA STORED IN COMPUTE...
...                   ...                                                ...
131874             169060  72_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE...
131875             169061  81_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE...
131876             169062                                       74_BONE SCAN
131877             169063  78_TELEPHONE CALL BY A PHYSICIAN TO PATIENT OR...
131878             169064  88_OFFICE OR OTHER OUTPATIENT VISIT FOR THE EV...

[131879 rows x 2 columns]

# Saving the csv file

In [135]:
df_grouped_procedures.to_csv('/mnt/batch/tasks/shared/LS_root/mounts/clusters/team-3-susai-gpu2/code/Users/900379/Output_files_train/df_procedures_train.csv')

In [134]:
df_grouped_procedures['procedures_code_description'].values[0]

'80_PROTHROMBIN TIME;,80_ALPHA-FETOPROTEIN (AFP); SERUM,80_BLOOD COUNT; COMPLETE (CBC), AUTOMATED (HGB, HCT, RBC, WBC AND PLATELETCOUNT),80_COMPREHENSIVE METABOLIC PANELTHIS PANEL MUST INCLUDE THE FOLLOWING:ALBUMIN (82040)BILIRUBIN, TOTAL (82247)CALCIUM, TOTAL (82310)CARBON DIOXIDE (BICARBONATE) (82374)CHLORIDE (82435)CREATININE (82565)GLUCOSE (82947)PHOSPHATASE, ALKALINE (84075)POTASSIUM (84132)PROTEIN, TOTAL (84155)SODIUM (84295)TRANSFERASE, ALANINE AMINO (ALT) (SGPT) (84460)TRANSFERASE, ASPARTATE AMINO (AST) (SGOT) (84450)UREA NITROGEN (BUN) (84520),80_OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALUATION AND MANAGEMENT OF ANESTABLISHED PATIENT, WHICH REQUIRES A MEDICALLY APPROPRIATE HISTORY AND/OREXAMINATION AND MODERATE LEVEL OF MEDICAL DECISION MAKING. WHEN USING TIME FORCODE SELECTION, 30-39 MINUTES OF TOTAL TIME IS SPENT ON THE DATE OF THEENCOUNTER.,80_TELEPHONE ASSESSMENT AND MANAGEMENT SERVICE PROVIDED BY A QUALIFIEDNONPHYSICIAN HEALTH CARE PROFESSIONAL TO AN ESTABLISHED PATIENT,PARENT, OR GUARDIAN NOT ORIGINATING FROM A RELATED ASSESSMENT ANDMANAGEMENT SERVICE PROVIDED WITHIN THE PREVIOUS 7 DAYS NOR LEADING TOAN ASSESSMENT AND MANAGEMENT SERVICE OR PROCEDURE WITHIN THE NEXT 24HOURS OR SOONEST AVAILABLE APPOINTMENT; 11-20 MINUTES OF MEDICALDISCUSSION'